@font-face {
  font-family: 'iconfont'; /* Project id 2444912 */
  src: url('./iconfont.woff2?t=1688118290553') format('woff2'), url('./iconfont.woff?t=1688118290553') format('woff'),
    url('./iconfont.ttf?t=1688118290553') format('truetype');
  font-display: block;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconedit-new:before {
  content: '\e647';
}

.iconbonus:before {
  content: '\e636';
}

.iconlist:before {
  content: '\e63b';
}

.iconMessage1:before {
  content: '\e630';
}

.iconlocation-outline:before {
  content: '\e62e';
}

.iconlocation-filled:before {
  content: '\e61f';
}

.iconrefer_user:before {
  content: '\e61d';
}

.iconarrow-right:before {
  content: '\e60f';
}

.iconoutlinestd:before {
  content: '\e612';
}

.iconlink:before {
  content: '\e611';
}

.iconcancel:before {
  content: '\e62c';
}

.iconsuccess-checked:before {
  content: '\e60c';
}

.iconheader-search:before {
  content: '\e608';
}

.iconselected3:before {
  content: '\e646';
}

.iconmoney:before {
  content: '\e605';
}

.iconinvite1:before {
  content: '\e6a4';
}

.iconcategory_select:before {
  content: '\e644';
}

.iconcommunity_select:before {
  content: '\e6a2';
}

.iconcommunity:before {
  content: '\e6a3';
}

.iconcategory:before {
  content: '\e63a';
}

.iconhome:before {
  content: '\e63c';
}

.iconhome_select:before {
  content: '\e63d';
}

.iconrtg_select:before {
  content: '\e640';
}

.iconrtg:before {
  content: '\e641';
}

.iconme_select:before {
  content: '\e642';
}

.iconme:before {
  content: '\e643';
}

.iconamount:before {
  content: '\e6a0';
}

.icontransprot:before {
  content: '\e6a1';
}

.iconcart:before {
  content: '\e69f';
}

.iconinfo3:before {
  content: '\e69e';
}

.iconclose:before {
  content: '\e69d';
}

.iconchecked:before {
  content: '\e69c';
}

.iconfilter:before {
  content: '\e69b';
}

.iconninePoints:before {
  content: '\e69a';
}

.iconenki-date:before {
  content: '\e631';
}

.iconplain:before {
  content: '\e698';
}

.iconweee_logo:before {
  content: '\e66b';
}

.iconstd:before {
  content: '\e699';
}

.icontrash_fill:before {
  content: '\e697';
}

.iconfavorite_h:before {
  content: '\e696';
}

.iconfavorite:before {
  content: '\e695';
}

.iconweee-rewards-logo1:before {
  content: '\e694';
}

.iconweee-points:before {
  content: '\e693';
}

.iconweee-rewards:before {
  content: '\e692';
}

.iconcheck-thin:before {
  content: '\e691';
}

.iconweee-rewards-logo:before {
  content: '\e690';
}

.icona-share-ios1:before {
  content: '\e68d';
}

.iconquestion:before {
  content: '\e68f';
}

.iconloyalty-hollow:before {
  content: '\e68e';
}

.iconinfo2:before {
  content: '\e682';
}

.iconlock:before {
  content: '\e68c';
}

.iconicon-warning:before {
  content: '\e68b';
}

.iconclock:before {
  content: '\e689';
}

.iconIcon:before {
  content: '\e68a';
}

.iconicon-restaurant:before {
  content: '\e684';
}

.iconicon-lightning:before {
  content: '\e685';
}

.iconicon-exclusive:before {
  content: '\e686';
}

.iconicon-points:before {
  content: '\e687';
}

.iconicon-weeebates:before {
  content: '\e688';
}

.icona-clear_all:before {
  content: '\e683';
}

.icondelete:before {
  content: '\e681';
}

.iconfb-filling:before {
  content: '\e680';
}

.iconkakao:before {
  content: '\e67f';
}

.iconenvelope:before {
  content: '\e67d';
}

.iconphone:before {
  content: '\e67e';
}

.iconmap-location:before {
  content: '\e67c';
}

.iconicon-category-s:before {
  content: '\e67b';
}

.iconpopup-coin:before {
  content: '\e67a';
}

.iconpopup-vip:before {
  content: '\e679';
}

.icona-arrow1:before {
  content: '\e674';
}

.iconwarning_fill:before {
  content: '\e73d';
}

.iconarrow-bottom:before {
  content: '\e66c';
}

.icona-Group1:before {
  content: '\e66a';
}

.iconicons-heartbottom:before {
  content: '\e668';
}

.iconicons-heartselectedbottom:before {
  content: '\e665';
}

.iconicons-heartcomments:before {
  content: '\e669';
}

.iconicons-heartselectedcomments:before {
  content: '\e667';
}

.icona-share-b1:before {
  content: '\e664';
}

.iconmessage1:before {
  content: '\e666';
}

.iconicons-heart1:before {
  content: '\e663';
}

.icontiktok:before {
  content: '\e65c';
}

.icontwitter:before {
  content: '\e65d';
}

.iconLinkedin-in:before {
  content: '\e65e';
}

.iconfacebook-f:before {
  content: '\e65f';
}

.iconyoutube:before {
  content: '\e660';
}

.iconinstagram:before {
  content: '\e661';
}

.iconweixin:before {
  content: '\e662';
}

.iconuser-group:before {
  content: '\e65b';
}

.iconshop:before {
  content: '\e639';
}

.iconinvite:before {
  content: '\e637';
}

.iconshare:before {
  content: '\e635';
}

.iconheart1:before {
  content: '\e634';
}

.iconVector1:before {
  content: '\e633';
}

.iconcheck:before {
  content: '\e62f';
}

.iconMessage2:before {
  content: '\e65a';
}

.icongoogle:before {
  content: '\e62d';
}

.iconcart-empty:before {
  content: '\e659';
}

.iconshowPassword:before {
  content: '\e628';
}

.iconfb:before {
  content: '\e629';
}

.iconhidePassword:before {
  content: '\e62a';
}

.iconwechat:before {
  content: '\e62b';
}

.iconsolid-arrow-up:before {
  content: '\e627';
}

.iconsolid-arrow-down:before {
  content: '\e626';
}

.iconinfo1:before {
  content: '\e623';
}

.iconWeeebates:before {
  content: '\e63e';
}

.iconStar:before {
  content: '\e63f';
}

.iconHelp:before {
  content: '\e653';
}

.iconGlobal:before {
  content: '\e654';
}

.iconicon-color-bogo:before {
  content: '\e622';
}

.iconicon-color-check:before {
  content: '\e621';
}

.iconinfo:before {
  content: '\e620';
}

.iconVector:before {
  content: '\e61e';
}

.icongroupselected:before {
  content: '\e61c';
}

.icongroup:before {
  content: '\e603';
}

.iconGroup12992:before {
  content: '\e61b';
}

.iconcamera:before {
  content: '\e638';
}

.iconGroup11844:before {
  content: '\e61a';
}

.iconUnion:before {
  content: '\e619';
}

.iconrightarrow:before {
  content: '\e701';
}

.iconicons-more1:before {
  content: '\e655';
}

.iconcolor-close:before {
  content: '\e650';
}

.iconcolor-minus:before {
  content: '\e624';
}

.iconcolor-plus:before {
  content: '\e625';
}

.iconarrow-down:before {
  content: '\e618';
}

.iconicon-color-information:before {
  content: '\e617';
}

.iconicons-chat-bubble:before {
  content: '\e64e';
}

.iconGroup:before {
  content: '\e616';
}

.iconicon-arrow-up-s:before {
  content: '\e615';
}

.iconpopular:before {
  content: '\e613';
}

.iconFrame21:before {
  content: '\e64b';
}

.iconShopping_cart1:before {
  content: '\e64a';
}

.iconselected4:before {
  content: '\e645';
}

.iconUnselected1:before {
  content: '\e632';
}

.iconMessage:before {
  content: '\e614';
}

.iconDelete:before {
  content: '\e602';
}

.iconpencil:before {
  content: '\e607';
}

.iconfeature:before {
  content: '\e606';
}

.iconShopping_cart:before {
  content: '\e610';
}

.iconArrowRight:before {
  content: '\e64f';
}

.iconBack:before {
  content: '\e609';
}

.iconTimes:before {
  content: '\e60b';
}

.iconSearch:before {
  content: '\e60d';
}

.iconShare:before {
  content: '\e60e';
}

.iconTriangle:before {
  content: '\e604';
}

.iconGroup12989:before {
  content: '\e60a';
}
